# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
* List popular languages for Data Science.
* List popular libraries for Data Science.
* Create a table in Markdown.
* Compute some examples of basic arithmetic in Python.

Some of the popular languages that Data Science use are:
* Python
* R
* Julia

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* PyTorch
* TensorFlow
* ggplot2

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Jupyter Lab|
|RStduio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expressionto multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutso to hours by dividing by 60
200/60

3.3333333333333335

## Author:
Pedro Hern√°ndez